
body {
    font-family: 'EA Sports Covers SC', sans-serif;
    margin: 0;
    background-image: url(https://st.depositphotos.com/1470939/3317/i/600/depositphotos_33174627-stock-photo-grunge-background-with-space-for.jpg);
    background-size: 100%;
    background-repeat: repeat;
}

header {
    background-color: #1d351d;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    align-items: right;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.header-content h1 {  
  margin: 0;
}

.header-content .header-image {
  width: 100px; 
  height: auto; 
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section {
    padding: 20px;
}

section h2 {
    color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #1d351d;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'EA Sports Covers SC', sans-serif;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(0, 93, 0, 0) 10.8%,
    rgba(0, 88, 0, 10) 94.3%
  );
  transition: all 0.475s;
}

.button1 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #1d351d;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'EA Sports Covers SC', sans-serif;
}

.button1:hover::before {
  transform: scaleX(1);
}

.button1-content {
  position: relative;
  z-index: 1;
}

.button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(0, 93, 0, 0) 10.8%,
    rgba(0, 88, 0, 10) 94.3%
  );
  transition: all 0.475s;
}

/* From Uiverse.io by Madflows */ 
.button2 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #1d351d;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'EA Sports Covers SC', sans-serif;
}

.button2:hover::before {
  transform: scaleX(1);
}

.button2-content {
  position: relative;
  z-index: 1;
}

.button2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(0, 93, 0, 0) 10.8%,
    rgba(0, 88, 0, 10) 94.3%
  );
  transition: all 0.475s;
}


/* From Uiverse.io by Madflows */ 
.button3 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #1d351d;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'EA Sports Covers SC', sans-serif;
}

.button3:hover::before {
  transform: scaleX(1);
}

.button3-content {
  position: relative;
  z-index: 1;
}

.button3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(0, 93, 0, 0) 10.8%,
    rgba(0, 88, 0, 10) 94.3%
  );
  transition: all 0.475s;
}


/* Container para centralizar e organizar as colunas */
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Coluna com as cartas */
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo das cartas */
.card {
  width: 100%;
  max-width: 290px;
  height: 90px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card .jogo1, .card .jogo2, .card .jogo3, .card .jogo4, .card .jogo5, .card .jogo6 {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.jogo1 {
  background-image: url(https://pbs.twimg.com/profile_images/737585400810590208/fkOLhnja.jpg);
}

.jogo2 {
  background-image: url(https://th.bing.com/th/id/OIP.1n_dRJLn91aILMSkd2yHDAHaEL?rs=1&pid=ImgDetMain);
}

.jogo3 {
  background-image: url(https://th.bing.com/th/id/OIP.rctWNTLsB3F86wFlTIeb6AHaHa?rs=1&pid=ImgDetMain);
}

.jogo4 {
  background-image: url(https://th.bing.com/th/id/OIP.HrcVDHynpfpbjx810QBZzgAAAA?w=400&h=400&rs=1&pid=ImgDetMain);
}

.jogo5 {
  background-image: url(https://2.bp.blogspot.com/-9hCws7Nw7tk/UnWQWTLUaoI/AAAAAAAAB7M/9zuq6YnSWyc/s1600/313749_525703127475101_1856708457_n.jpg);
}

.jogo6 {
  background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/icon_thumb/53b884037039b8150835431dd7ed95b0.png);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 12px;
}

.h1 {
  font-size: 18px;
  font-weight: bold;
}

.p {
  font-size: 14px;
  font-weight: lighter;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
